<h1>New Booking Notification</h1>
<p>You have a new booking for the following service:</p>
<ul>
  <li><strong>Service:</strong> {{serviceName}}</li>
  <li><strong>User Email:</strong> {{userEmail}}</li>
  <li><strong>Date:</strong> {{date}}</li>
</ul>
